@import "../../scss/settings/variables";

.logout-container {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logout-bottom-link {
        margin-top: 50px;
        font: normal normal normal 18px/32px $font-base;
        padding: 5px 10px;
        text-align: left;
        text-decoration: none;
        border: 1px solid $primary-grey;
        color: $secondary-grey;
        
        &:hover {
            border: 1px solid $primary-grey;
        }
    }
}