@import "../../scss/settings/variables";

.heading-container {
    margin: 0 auto;
    .heading-title {
        text-align: center;
        font: normal normal normal 38px/70px $font-base;
        letter-spacing: -0.76px;
        color: $primary-grey;
    }
    .decoration-item{
        margin-top: 20px;
        width: 100%;
        height: 30px;
        background: transparent url('./Decoration.svg') no-repeat center/contain;
    }
}


