@import "../../../scss/settings/variables";

.home-contact-container {
    min-height: 80vh;
    background: linear-gradient(90deg, rgba(248,248,249,0.7) 31%, rgba(247,247,249,0.95) 80%, rgba(255,255,255,1) 100%), url('./Background-Contact-Form.jpg') no-repeat left/contain;
    // * {
    //     border:1px solid red;
    // }

    .home-contact-boxes {
        display:flex;
        height:90%;
    }

    .home-contact-box-left,
    .home-contact-box-right {
        width: 50%;
    }

    .home-contact-box-right {
        padding-top:100px;
        padding-bottom:50px;

        .contact-form-success {
            margin-top: 25px;
            text-align: center;
            font: normal normal 700 16px/24px $font-base;
            color: green;
        }

        .d-none {
            display: none;
        }

        .contact-form {
            margin-top:50px;
            margin-bottom:50px;
            height: 300px;
            padding: 0 100px;

            form {
                display:flex;
                flex-direction: column;
                button {
                    color: $primary-grey;
                    align-self:flex-end;
                    background-color: transparent;
                    border-radius: 0;
                    border: 1px solid $primary-grey;
                    padding: 5px 25px;
                }
            }

            .form-label {
                font: normal normal 600 16px/35px $font-base;
                letter-spacing: 0px;
                color: $primary-grey;
            }

            .form-control {
                font: normal normal normal 14px/24px $font-base;
                letter-spacing: 0px;
                color: $primary-grey;
                opacity: 1;
                letter-spacing: 0px;
                color: #3C3C3C;
                background-color: transparent;
                border-radius: 0;
                border:none;
                border-bottom: 1px solid $primary-grey;
                padding-left: 0;
                overflow: auto;
                resize: none;

                &::placeholder {
                    color: rgba($color: $secondary-grey, $alpha: .5);
                }
                &:focus{
                    box-shadow: none; 
                }
            }

            .form-control-alert {
                border-bottom: 1px solid red;
            }

            .contact-form-alert {
                font: normal normal 700 12px/24px $font-base;
                color: red;
            }

            .d-none {
                display: none;
            }
        }
    }
}
