@import "../../scss/settings/variables";
.handover-bottom-link-div {
    display: flex;
    justify-content: center;
    }

    .handover-bottom-link {
        margin-top: 50px;
        font: normal normal normal 18px/32px $font-base;
        padding: 5px 10px;
        text-align: left;
        text-decoration: none;
        border: 1px solid $primary-grey;
        color: $secondary-grey;
        &:hover {
            border: 1px solid $primary-grey;
            text-decoration: none;
            color: $secondary-grey;
        }

}