@import "../../../scss/settings/variables";

.handover-header-container {
    display:flex;
    flex-direction: column;
    height: 850px;
    background: transparent url('Header-Form-Background.png') right 50vw top 0% no-repeat padding-box fixed;
    // * {
    //     border:1px solid red;
    // }

    .handover-heading-container {
        width: 70%;
        margin-top:50px;
        align-self: flex-end;
    }
    
    .header-four-steps-title {
        margin-top: 25px;
        text-align: center;
        font: normal normal 300 40px/55px $font-base;
        letter-spacing: 0px;
        color: $primary-grey;
    }
}

.steps-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .steps-item {
        transform: rotate(45deg);
        margin: 15px;
        width:150px;
        height:150px;
        border: 1px solid $primary-grey;

        h5 {
            font: normal normal 300 24px/32px $font-base;
            letter-spacing: 0px;
            color: $primary-grey;
            text-align: center;
            transform: translate(-25%,50%) rotate(-45deg);
        }

        h6 {
            font: normal normal 300 24px/32px $font-base;
            letter-spacing: 0px;
            color: $primary-grey;
            text-align: center;
            transform: rotate(-45deg) translate(2%,0%) ;
        }
    }
}
